@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
* img {
  width: 300px;
}
* .icons a img {
  width: 25px;
}
* .icons a img:hover {
  transform: scale(1.1);
}

body {
  background: #fff;
}
body .container {
  padding: 3em;
}
body .container .first-box {
  display: flex;
  width: 800px;
  margin: 0 auto;
}
body .container .first-box img {
  filter: grayscale(100%);
  border: 2px solid #ffff00;
}
body .container .first-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
}
body .container .first-box .about-me-box {
  background: #fff;
  background: aqua;
  width: 500px;
  height: 350px;
  padding: 10px 12px;
}
body .container .first-box .about-me-box p {
  margin-top: 2em;
  font-size: 17px;
}
body .container .first-box .about-me-box .icons {
  display: flex;
  justify-content: end;
  margin-top: 2em;
  padding: 10px;
}
body .container .first-box .about-me-box .icons a {
  margin: 7px;
}
body .container .second-box {
  margin-top: 6em;
  padding: 16px 24px;
}
body .container .second-box .first-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 3em;
  margin-top: 3em;
}
body .container .second-box .first-row img {
  display: block;
  margin: 0 auto;
}
body .container .second-box .first-row .icons {
  display: flex;
}
body .container .second-box .first-row .work-details {
  background: #f6f6f6;
  padding: 10px;
  width: 300px;
  height: 17vh;
  border: 1px solid #000;
}
body .container .second-box .first-row .work-details .project {
  display: flex;
  justify-content: space-between;
}
body .container .second-box .first-row .work-details .project .icons {
  gap: 10px;
}
body .container .second-box .first-row .work-details p {
  margin-top: 10px;
  font-size: 12px;
}
body .container .third-box {
  background: cadetblue;
  display: flex;
  justify-content: center;
  gap: 15px;
}
body .container .third-box .text-box {
  color: #fff;
  margin-top: 7em;
}
body .container .third-box .text-box h3 {
  width: 300px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
body .container .third-box .text-box img {
  width: 20px;
}
body .container .third-box .text-box .phone,
body .container .third-box .text-box .email {
  display: flex;
  gap: 10px;
  margin-top: 1.5em;
}
body .container .third-box .text-box .icons {
  margin-top: 3em;
}
body .container .third-box .text-box .icons img {
  width: 35px;
  margin: 10px;
}
body .container .third-box .text-box .icons img:hover {
  transform: scale(1.1);
}
body .container .third-box .image-box img {
  filter: grayscale(100%);
  border: 2px solid #ffff00;
}
body .container .third-box .image-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  body .container .first-box {
    display: grid;
  }
  body .container .first-box .about-me-box {
    width: 400px;
    padding: 5px 7px;
  }
  body .container .first-box .about-me-box p {
    font-size: 12px;
  }
  body .container .second-box .first-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  body .container .second-box .first-row .work-details {
    margin: 0 auto;
  }
  body .container .third-box {
    display: grid;
  }
} /*# sourceMappingURL=main.css.map */
