@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
* .footer-image,
* .hero-image {
  filter: grayscale(100%);
  border: 2px solid #ffff00;
}
* .footer-image:hover,
* .hero-image:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.container .first-box {
  display: flex;
  flex-direction: row;
  padding: 30px;
  flex-wrap: wrap;
}
.container .first-box .hero-image-container {
  position: relative;
  width: 50%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.container .first-box .hero-image-container .name {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.container .first-box .hero-image-container .hero-image {
  width: 100%;
  height: auto;
}
.container .first-box .about-me-box {
  background: aqua;
  padding: 10px;
  width: 50%;
  margin-bottom: 5em;
}
.container .first-box .about-me-box p {
  margin-top: 1em;
  font-size: 14px;
}
.container .first-box .about-me-box .icons {
  margin-top: 3em;
  display: flex;
  justify-content: end;
}
.container .first-box .about-me-box .icons img {
  width: 20px;
  margin: 5px;
}
.container .first-box .about-me-box .icons img:hover {
  transform: scale(1.1);
}
.container .second-box h2 {
  margin-left: 20px;
  font-size: 4rem;
  margin-bottom: 3px;
}
.container .second-box .card-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.container .second-box .card-container .works {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  flex-shrink: 1;
  flex-basis: 30%;
  flex-grow: 1;
}
.container .second-box .card-container .works .project-image {
  width: 100%;
  height: auto;
}
.container .second-box .card-container .works .work-details {
  padding: 10px 12px;
  margin-bottom: 22px;
  background-color: aqua;
}
.container .second-box .card-container .works .work-details .project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .second-box .card-container .works .work-details .project h3 {
  width: 70%;
}
.container .second-box .card-container .works .work-details .project .project-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.container .second-box .card-container .works .work-details .project .project-icons a img {
  width: 20px;
}
.container .second-box .card-container .works .work-details p {
  padding-bottom: 30px;
}

.footer {
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 10%;
  flex-wrap: wrap;
}
.footer .footer-text {
  color: #000;
}
.footer .footer-text h3 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.footer .footer-text .phone,
.footer .footer-text .email {
  display: flex;
  gap: 10px;
  margin-top: 1.5em;
}
.footer .footer-text .phone img,
.footer .footer-text .email img {
  width: 20px;
  height: auto;
}
.footer .footer-text .icons {
  margin-top: 3em;
}
.footer .footer-text .icons img {
  width: 35px;
  margin: 10px;
}
.footer .footer-text .icons img:hover {
  transform: scale(1.1);
}
.footer .footer-image {
  display: flex;
  width: 100%;
  height: auto;
  flex-basis: 40%;
  flex-grow: 1;
}
.footer .footer-image img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=styles.css.map */
